/*COLOURS


BLUE: #00A9B7


*/




*{
	box-sizing:border-box;
	padding:0;
	margin:0;
	font-family: 'lato', sans-serif;
}
.content{
	max-width:1024px;
	margin: auto;
	padding: 0 20px;
}

header nav{
	width:100%;
}

header nav a img{
	width: 50px;
	float: left;
	margin-top: 40px;
}

header nav ul{
	list-style: none;
	float: right;
	margin-top: 40px;
}

header nav ul li{
	display: inline-block;
	/* margin-left: 80px; */
	/* float: left; */
	text-align: center;
	margin-left: 40px;
}

header nav ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	display: block;
	font-size: 16px;
	border-bottom: 3px solid transparent;
	padding-bottom:5px;
	text-transform: uppercase;
	transition:0.3s;
}

header nav ul li a:hover{
	border-bottom: white solid 3px;
}

.home header {
	position: relative;
	padding-bottom: 50.78%; 
	/*padding-top: 25px;*/
	height: 0;
}

.home header video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

section{
	padding: 100px 0;
}

.world-regionalizing{
	background: url("../images/bg_hexagon.png") repeat;
}

h1{
	color: #00A9B7;
	text-transform: uppercase;
	font-size: 70px;
	margin-bottom: 25px;
}

.symbiosis{
	background: url("../images/bg_orange.png") repeat;
}

h2{
	font-size: 50px;
	color:white; 
	text-transform: uppercase;
}

.row{
	display: flex;
	margin-top: 50px;
}

.row .col-3{
	margin: auto;
}

.row .col-3:last-child{
	margin-right: 0;
}

.row .content{
	background-size: cover;
	background-image: url("images/bg_hexagon.png");
}

.row img{
	margin-bottom: 25px;
}

.row p{
	text-align: center;
}

.learn-more{
	margin-top: 100px;
	text-align: center;
}

.content a{
	text-transform: uppercase;
	text-decoration: none;
	color: #00A9B7;
}

.casestudy{
	background-image: url("images/bg_caseStudy.png");
	background-size:cover;
	padding: 250px;
}

.casestudy h2{
	font-size: 40px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.casestudy p{
	color: white;
}

.casestudy a{
	text-decoration: none;
	text-align: center;
	background: red;
	color: white;
	font-size: 20px;
	margin: auto;

}

footer {
	width:100%;
	color: #fff;
	background:black;
	padding-bottom: 200px;

}

footer nav ul{
	list-style: none;
	padding-top: 20px;
}

footer nav ul li{
	display: inline-block;
	margin-right: 30px;
	/*float: left;*/
	text-align: center;
	
}

footer nav ul li a{
	text-decoration: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	display: block;
	font-size: 16px;
	border-bottom: 3px solid transparent;
	padding-bottom:5px; 
	text-transform: uppercase;

}

.iwb article{
	margin-top: 10px;
	display: flex;
	width: 65%;
}

.iwb article img{
	width: 15%;
	height: 80%;
}

.iwb article p{
	padding-left: 5px;

	
}

